<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pabloivan57.trojanow" >


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.trojanow.activities.LoginController"
            android:label="@string/title_activity_login_controller" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trojanow.activities.SignupController"
            android:label="@string/title_activity_signup_controller" >
        </activity>
        <activity
            android:name="com.trojanow.activities.PostController"
            android:label="@string/title_activity_post_controller" >
        </activity>
        <activity
            android:name="com.trojanow.activities.MessagesController"
            android:label="@string/title_activity_messages_controller" >
        </activity>
        <activity
            android:name="com.trojanow.activities.MessageDetailController"
            android:label="@string/title_activity_message_detail_controller" >
        </activity>
        <service
            android:name=".FetchAddressIntentService"
            android:exported="false"/>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


</manifest>
